.certifications-list {
    align-items: baseline;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.certifications-list_item img {
    width: 40%;
    height: auto;
}

.CodersCamp_photo {
    border-radius: 100%;
}

.Cognity_photo {
    border-radius: 100%;
    border: 1px solid #ddd;
}

@media (max-width: 736px) {
    .certifications-list {
        grid-template-columns: 1fr;
    }

    .certifications-list_item:last-child {
        grid-column: unset;
    }
}