.projects-list_item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4em;
}

.projects-list_item:nth-child(even) {
    flex-direction: row-reverse;
}

.project_photo {
    width: 50%;
}

.project_description {
    padding-left: 3em;
    width: 50%;
}

.projects-list_item:nth-child(even) .project_description {
    padding: 0 3em 0 0;
}

.project_technologies-heading {
    margin-bottom: 0;
}

.project_button {
    display: flex;
    justify-content: space-around;
}

.project_button_item {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: .5em 1.25em;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.project_button_item:hover {
    background-color: var(--background-gradient-second-color);
}

@media (max-width: 980px) {
    .project_button_item {
        padding: .5em .5em;
        font-size: 0.9em;
    }
}

@media (max-width: 736px) {
    .project_photo {
        margin: 2em auto;
        width: 60%;
    }

    .project_description {
        padding-left: 0;
        width: 100%;
    }

    .projects-list_item:nth-child(even) .project_description {
        padding: 0 0 0 0;
    }

    .project_button_item {
        padding: .5em .5em;
        font-size: 0.9em;
    }
}